---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Digital Services Playbook — from the U-M Library</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700|Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
  <link href='{{site.baseurl}}/assets/css/styles.css' rel='stylesheet' />
</head>

<body>
  <header>
    <div class="header-alt">
      <div class="container">
        <div class="header-container-alt playbook-logo">
          <a href="umich.edu" title="Link to the University of Michigan website.">
            <img src="{{site.baseurl}}/assets/images/umich_block_m.png" alt="Logo of the University of Michigan." class="header-logo-image-alt">
          </a>
          <a href="umich.edu" title="Link to the University of Michigan website.">
            <img src="{{site.baseurl}}/assets/images/mlibrary_logo.png" alt="Logo of the University of Michigan." class="header-logo-image-alt">
          </a>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="playbook-header">
      <div class="container">
        {% capture introduction %}{% include introduction.md %}{% endcapture %}
        {{ introduction | markdownify }}

        <a href="#plays_index_anchor" class="button">See the plays</a>
      </div>
    </div>

    <article>
      <a class="anchor_offset" id="plays_index_anchor"></a>
      <div class="plays-list-container">
        <div class="container">
          <h2>Digital Service Plays</h2>
          <ol class="plays-list">
          {% for play in site.plays %}
            <li><a href="#play{{ play.play_number }}" title="View Play {{ play.play_number }}">{{ play.title }}</a></li>
          {% endfor %}
          </ol>
        </div>
      </div>

      <div class="container">
        <div class="plays">
          {% for play in site.plays %}
            <section class="play">
              <a class="anchor_offset" id="play{{ play.play_number }}"></a>
              <h6>PLAY {{ play.play_number }}</h6>
              <h2 class="display">{{ play.title }}</h2>

              {{ play.output }}
            </section>
          {% endfor %}
        </div>
      </div>
    </article>
  </main>
</body>
</html>
